/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: 100%; } /* see J.Seric foundation article on why 100% rather than 'none' */

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*--------- stop Chrome from putting blue outline around selected clicked items --------*/
:focus { outline: 0; }

/*----- BODY -----*/
html, body {
  height: 100%; /* to force gradient or whatever to fill the viewport */
}

/* end standard dcc boilerplate */

body {
  background-color: #c47979;
  color: white;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  padding-top: 3rem;
}

header h1 {
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-size: 3.25rem;
  font-weight: 500;
}

header h2 {
  font-family: cursive;
  padding-top: 1rem;
  font-weight: 300;
  padding-left: .3em; /* nudges off-center but looks better */
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: .75rem;
}

#fcc-name {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* to revert to non-cursive */
  /*font-size: 1.5rem;*/
  font-weight: normal;
}

/* =========== Duration Control Section =========== */

/* label + buttons + display */

.timer-control-group {
  display: inline-block;
  margin-top: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

#break-label, #session-label {
  font-size: 1.35rem;
  font-weight: normal;
}

#break-length, #session-length {
  margin-top: .5rem;
  font-size: 1.5rem;
  font-weight: normal;
  display: inline-block; /* width has no effect on inline */
  width: 2.5rem;
}

/* ================ Clock Section ================= */

#clock {
  border: 2px solid white;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  margin: 2rem auto;
}

#clock h2 {
  margin-top: 20%;
  font-weight: normal;
  font-size: 2.5rem;
}

#time-left {
  margin-top: 3.5rem;
  font-size: 4rem;
  font-weight: 300;
}

/* =========== Misc =========== */

/* buttons */

button {  /* duration controls and play/pause/refresh */
  background-color: #c47979; /* same as body color ... i.e., invisible buttons */
  color: white; /* else font-awesone buttons are black */
}

#duration-controls button {
  /*border: none;*/
}

/* #playback-container,*/ .playback-controls {
  display: inline-block;
}

.playback-controls button {
  font-size: 2rem; /* should match break & session labels */
  padding: .5rem 2rem;
  /*margin-bottom: 3rem;*/
  /*margin-left: 1.5rem;
  margin-right: 1.5rem;*/
  /* width: 7rem;*/
  /*margin: 0 auto;*/
}

/* Having spacing issues with the buttons, so ...
/* Small Devices, Tablets */
/*@media only screen and (min-width : 768px) {
  #start_stop {
    margin-left: 5rem;
    margin-right: 1.5rem;
  }

  #reset {
    margin-left: 1.5rem;
    margin-right: 5rem;
  }
}*/

/* Medium Devices, Desktops */
/*@media only screen and (min-width : 992px) {
  #start_stop {
    margin-left: 10rem;
    margin-right: 1.5rem;
  }

  #reset {
    margin-left: 1.5rem;
    margin-right: 10rem;
  }
}*/

/* Wide Devices, Desktops */
/*@media only screen and (min-width : 1200px) {
  #start_stop {
    margin-left: 15rem;
    margin-right: 1.5rem;
  }

  #reset {
    margin-left: 1.5rem;
    margin-right: 15rem;
  }
}*/

/* =============== Footer Section ================= */

footer a {
  color: white;
  text-decoration: underline;
}

footer a:hover {
  /*color: white;*/
}

/* ~~~~~~~~~~~ Sticky footer stuff from Bootstrap ~~~~~~~~~~~ */
/* http://v4-alpha.getbootstrap.com/examples/sticky-footer/ */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
  overflow-x: hidden; /* dcc per stack overflow */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height:80px;
  /*line-height: 60px;*/ /* dcc */
  /*background-color: #f5f5f5;
  color: black; /* temporarily */*/
}
